<h1>Search Results</h1>

<ul>
  {{#each results}}
    <li>
        {{#if images}}
        <img src="{{images.1.url}}" alt="{{name}}">
        {{/if}}
        <strong>{{name}}</strong>
        <a href="/albums/{{id}}">View Albums</a>
    </li>
  {{/each}}
</ul>